<h1>Sign in to keep track of every penny.</h1>
<body>
    <div class="container">
        <h1>Sign In</h1>
        <form>
            <input type="email" [(ngModel)]="email" name="email" placeholder="Email">
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
            <div class="actions">
                <button class="btn btn-primary" (click)="onSignIn()">Sign In</button>
            </div>
            <div class="sign-up">
                <span>Don't have an account?</span>
                <button class="btn btn-link" (click)="newSignUp()">Sign Up</button>
            </div>
        </form>
    </div>
</body>
