<h1>Welcome {{username}} !</h1>
<div class="container">
    <div class = "container">
        <app-user></app-user>
    </div>
    <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            <h4>Income</h4>
            </div>
            <div class="card-body">
            <!-- <h4 class="text-success">₹ {{totalIncome}}</h4> -->
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            <h4>Expense</h4>
            </div>
            <div class="card-body">
            <!-- <h4 class="text-danger">₹ {{totalExpense}}</h4> -->
            </div>
        </div>
        </div>
  </div>