<body>
    <div class="container">
        <div class="row">
            <!-- User Card -->
            <div class="col-lg-3">
                <div class="user-card">
                    <img src="assets/icon.png" alt="User Avatar" class = "circle-image">
                    <h4>{{username}}</h4>
                    <p>{{email}}</p> 
                    <!-- placeholder name and email  -->
                </div>
                <div class="navigation-card">
                    <div class="nav-links">
                        <a routerLink="/add-expense">Add Expense</a>
                        <a routerLink="/edit-expense">Edit Expense</a>
                        <a routerLink="/remove-expense">Remove Expense</a>
                        <a routerLink="/view-expenses">View Expenses</a>
                        <a routerLink="/budget-planner">Budget Planner</a>
                    </div>
                </div>
            </div>

            <!-- Main Content Card (Router Outlet) -->
            <div class="col-lg-9">
                <div class="main-content-card">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</body>