<div class="container">
    <div class="card-total">
        <div class="header">
            <h1>Monthly Spending</h1>
            <div class="selectors">
                <select [(ngModel)]="month" (change)="onMonthChange()" name="Month">
                    <option value="" disabled selected>Choose Month</option>
                    <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                </select>
                <select [(ngModel)]="year" (change)="onYearChange()" name="Year">
                    <option value="" disabled selected>Choose Year</option>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
        </div>
        <div class="total">
            <h1>$ {{ totalExpense }}</h1>
        </div>
    </div>
    <div class="card-breakdown">
        <h1>Expense Breakdown</h1>
        <div class="card-list">
            <table>
                <thead>
                    <tr>
                        <th>Expense Category</th>
                        <th class="align-right">Expense Amount</th>
                        <th class="align-right">Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of expenseBreakdown">
                        <td>{{ item.category }}</td>
                        <td class="align-right">$ {{ item.total }}</td>
                        <td class="align-right">{{ getPercentage(item.category) }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
