header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease; 
}

header:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

h1 {
    margin: 0;
    font-family: 'Poppins', 'Medium 500';
}

.nav-links {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 20px;
    white-space: nowrap; /* Prevent text from wrapping */
}

.nav-links .container {
    display: flex;
    gap: 10px;
}

.btn-link, .nav-links a {
    font-family: 'Poppins';
    text-decoration: none; 
    color: #000; /* Default text color */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.btn-link:hover, .nav-links a:hover {
    color: #046530; /* Change text color on hover */
}
