<header>
    <h1 routerLink="/home">Expense Tracker</h1>
    <div class="nav-links">
        <a *ngIf="!userAuthenticated"routerLink="/home">Main Menu</a>
        <a *ngIf="userAuthenticated"routerLink="/dashboard">Dashboard</a>
        <div class="container">
            <button *ngIf="!userAuthenticated" class="btn btn-link" (click)="toLogIn()">Log In</button>
            <button *ngIf="!userAuthenticated"class="btn btn-link" (click)="toSignUp()">Sign Up</button>
            <button *ngIf="userAuthenticated"class="btn btn-link" (click)="toLogOut()">Log Out</button>
        </div>
    </div>
</header>
