<body>
    <div class="card">
        <h1>SIMPLIFY YOUR FINANCES WITH EXPENSE TRACKER</h1>
        <div class = "card-slogan">
            <p>Managing money has never been easier. Say goodbye to financial stress and hello to a clearer financial future. Join us today and take the first step towards smarter money management.</p>
        </div>
        <div class="card-buttons">
            <button routerLink="/signup" class="sign-up">Join Us</button>
            <button routerLink="/signin" class="sign-in">Sign In</button>
        </div>
    </div>

    <div class="card-download">
        <div class = "card-download-text">
            <h1>BRING US EVERYWHERE</h1>
            <p> Manage your finances anywhere anytime all around the world. </p>
            <p> Download our Web-App Now! </p>
        </div>
</div>
</body>

